//Colors

//Primary

$Lime-Green: hsl(163, 72%, 41%);
$Bright-Red: hsl(356, 69%, 56%);

$Facebook: hsl(208, 92%, 53%);
$Twitter: hsl(203, 89%, 53%);
$Instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$YouTube: hsl(348, 97%, 39%);

//Dark Theme

$Toggle-Gradient: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));

//Light Theme

$Toggle: hsl(230, 22%, 74%);

//Neutral

//Dark Theme

$Very-Dark-Blue-BG: hsl(230, 17%, 14%);
$Very-Dark-Blue-Top-BG-Pattern: hsl(232, 19%, 15%);
$Dark-Desaturated-Blue-Card-BG: hsl(228, 28%, 20%);
$Desaturated-Blue-Text: hsl(228, 34%, 66%);
$White-Text: hsl(0, 0%, 100%);

//Light Theme

$White-BG: hsl(0, 0%, 100%);
$Very-Pale-Blue-Top-BG-Pattern: hsl(225, 100%, 98%);
$Light-Grayish-Blue-Card-BG: hsl(227, 47%, 96%);
$Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
$Very-Dark-Blue-Text: hsl(230, 17%, 14%);

//Typography

$Font-size: 14px;

$Font-Family: 'Inter',
sans-serif;
//Weights: 400, 700

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $Font-Family;
    font-size: $Font-size;

    header {
        background-color: $Very-Pale-Blue-Top-BG-Pattern;
        padding: 40px 160px;

        div:nth-of-type(1) {
            width: 50%;
            float: left;
            color: $Very-Dark-Blue-Text;

            p {
                padding-top: 10px;
            }
        }

        div:nth-of-type(2) {
            width: 50%;
            float: right;
            color: $Dark-Grayish-Blue-Text;

            p {
                font-weight: 700;
                float: left;
                line-height: 25px;
                width: 80%;
                text-align: right;
            }

            div {
                float: right;
                width: 48px;
                height: 24px;
                background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
                border-radius: 12px;
                padding: 2px;

                .circle {
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    background-image: none;
                    background-color: $Light-Grayish-Blue-Card-BG;
                    float: left;
                    //float: right;
                }
            }
        }

        div:nth-of-type(3) {
            clear: both;
            height: 140px;
        }
    }

    main {
        padding: 0 145px;

        section {
            position: relative;
            top: -100px;
            overflow: hidden;

            div {
                width: (100%/4);
                height: 210px;
                //border: 1px solid blue;
                float: left;
                padding: 0 15px;

                .label {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    background-color: $Light-Grayish-Blue-Card-BG;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: $Toggle;
                    }

                    div:nth-of-type(1) {
                        width: 100%;
                        height: 25%;
                        padding: 0;
                        text-align: center;

                        img {
                            height: 20px;
                            margin-top: 20px;
                        }

                        p:nth-of-type(1) {
                            margin-top: 5px;
                            color: $Dark-Grayish-Blue-Text;
                            font-weight: 700;
                            line-height: 10px;
                        }
                    }

                    div:nth-of-type(2) {
                        width: 100%;
                        height: 50%;
                        text-align: center;
                        padding: 0;

                        p:nth-of-type(1) {
                            font-size: 4rem;
                            color: $Very-Dark-Blue-Text;
                            font-weight: 700;
                            padding-top: 10px;
                        }

                        p:nth-of-type(2) {
                            color: $Dark-Grayish-Blue-Text;
                            letter-spacing: 6px;
                        }
                    }

                    div:nth-of-type(3) {
                        width: 100%;
                        height: 25%;
                        text-align: center;
                        padding: 10px 0;


                        img {
                            display: inline;
                        }

                        p {
                            display: inline;
                            margin-left: 5px;
                            color: $Lime-Green;
                            font-weight: 700;
                        }
                    }
                }

                .facebook {
                    border-top: 3px solid $Facebook;
                }

                .twitter {
                    border-top: 3px solid $Twitter;
                }

                .instagram {
                    border-top: 3px solid hsl(329, 70%, 58%);
                    border-top-color: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
                }

                .youtube {
                    border-top: 3px solid $YouTube;

                    div:nth-of-type(3) {
                        p {
                            color: $Bright-Red;
                        }
                    }
                }
            }
        }
    }

    .body {
        .head {
            padding: 0 145px;

            h1 {
                padding: 0 15px;
                padding-bottom: 30px;
                color: $Dark-Grayish-Blue-Text;
            }
        }

        .top {
            overflow: hidden;
            clear: both;
            padding: 0 145px;

            div {
                width: (100%/4);
                float: left;
                padding: 0 15px;

                .label {
                    width: 100%;
                    height: 150px;
                    padding: 0 20px;
                    background-color: $Light-Grayish-Blue-Card-BG;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: $Toggle;
                    }

                    div:nth-of-type(1) {
                        width: 100%;
                        height: 25%;
                        padding: 0;
                        margin-top: 30px;
                        margin-bottom: 10px;

                        p:nth-of-type(1) {
                            color: $Dark-Grayish-Blue-Text;
                            font-weight: 700;
                            line-height: 20px;
                            float: left;
                        }

                        img {
                            height: 20px;
                            float: right;
                        }
                    }

                    .number {
                        clear: both;
                        color: $Very-Dark-Blue-Text;
                        font-size: 2rem;
                        font-weight: 700;
                        float: left;
                    }

                    div:nth-of-type(2) {
                        text-align: right;
                        padding: 10px 0;
                        float: right;


                        img {
                            display: inline;
                        }

                        p {
                            display: inline;
                            margin-left: 5px;
                            color: $Lime-Green;
                            font-weight: 700;
                        }
                    }
                }

                #red {
                    color: $Bright-Red;
                }
            }
        }

        .bottom {
            overflow: hidden;
            clear: both;
            padding: 0 145px;
            padding-top: 30px;
            padding-bottom: 90px;

            div {
                width: (100%/4);
                float: left;
                padding: 0 15px;

                .label {
                    width: 100%;
                    height: 150px;
                    padding: 0 20px;
                    background-color: $Light-Grayish-Blue-Card-BG;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: $Toggle;
                    }

                    div:nth-of-type(1) {
                        width: 100%;
                        height: 25%;
                        padding: 0;
                        margin-top: 30px;
                        margin-bottom: 10px;

                        p:nth-of-type(1) {
                            color: $Dark-Grayish-Blue-Text;
                            font-weight: 700;
                            line-height: 20px;
                            float: left;
                        }

                        img {
                            height: 20px;
                            float: right;
                        }
                    }

                    .number {
                        clear: both;
                        color: $Very-Dark-Blue-Text;
                        font-size: 2rem;
                        font-weight: 700;
                        float: left;
                    }

                    div:nth-of-type(2) {
                        text-align: right;
                        padding: 10px 0;
                        float: right;


                        img {
                            display: inline;
                        }

                        p {
                            display: inline;
                            margin-left: 5px;
                            color: $Lime-Green;
                            font-weight: 700;
                        }
                    }
                }

                #red {
                    color: $Bright-Red;
                }

                #green {
                    color: $Lime-Green;
                }
            }
        }
    }
}
